{% extends 'base.html' %}
{% load static %}

	{% block content%}
						<!-- Start slides -->
		 <style>
			#slides h1, #slides p {
				font-family: "El Messiri", sans-serif;
			}
	 </style>						 
	<div id="slides" class="cover-slides">
		<ul class="slides-container">
			<li class="text-center">
				<img src="/media/foods/slider1.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>با لبخند وارد "یامی فود" شوید  </strong></h1>
							<p><a style="font-size: 25px;" class="btn btn-lg btn-circle btn-outline-new-white" href="/book/">رزرو</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="/media/foods/slider2.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>هر لقمه، یک لبخند</strong></h1>
							<p><a style="font-size: 25px;" class="btn btn-lg btn-circle btn-outline-new-white" href="/book/">رزرو</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="/media/foods/slider3.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>!اینجا رژیم فقط یک شوخی بامزه  اس</strong></h1>
							<p><a style="font-size: 25px;" class="btn btn-lg btn-circle btn-outline-new-white" href="/book/">رزرو</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="/media/foods/slider4.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong> !غذا حاضره</strong></h1>
							<p><a style="font-size: 25px;" class="btn btn-lg btn-circle btn-outline-new-white" href="/book/">رزرو</a></p>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
			<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
	</div>
	<!-- End slides -->
	
	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src=" /media/foods/Background2.jpg " alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<style>
							.about-section-box p {
								font-family: "Lateef", serif;
								font-weight: 400;
								font-size: 26px !important; 
							}
							.title {
								font-family: "Marhey", serif;
								font-size: 26px !important; 
							}
							.nav-like-btn {
								color: black;
								background-color: transparent;
								padding: 10px 20px;
								border-radius: 5px;
								transition: all 0.3s ease;
								font-size: 15px;
								font-weight: 600;
							  }

							  .nav-like-btn:hover {
								background-color: #d6b084; 
								color: white;
							  }
						</style>

						<h4 class="title">همین‌جا، همین نزدیکی</h4>
						<div style="text-align: right; direction: rtl; color: black;">
						<p > یامی فود از دل همین شهر به دنیا اومده. با غذاهایی که بوی خونه می‌دن و محیطی که مثل خونواده‌ست. هر وقت دل‌تنگ یه غذای خوش‌طعم شدی، اینجا منتظرتیم .</p>
						<p> با بیش از ۱۰ سال سابقه در صنعت رستوران‌داری و با به‌کارگیری بهترین سرآشپزها و تازه‌ترین مواد اولیه، تلاش می‌کنیم تا هر وعده‌ی غذایی برای شما، تجربه‌ای خاص و به‌یادماندنی باشه. ما در یامی فود به سادگی، اصالت و لبخند شما باور داریم.  </p>
						<p> رضایت شما برای ما مهم‌تر از هر چیز دیگه‌ست، و تمام تلاشمون ساختن لحظه‌هایی خوشمزه‌تر برای شماست.  </p>
					</div>
						
						<a class="nav-like-btn" href="/book/">همین حالا رزرو کن</a >
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->
	
	<!-- Start QT -->
	 <style>
		.qt-box .container {
			font-family: "Amiri", serif;
			display: flex;
			justify-content: center; 
			align-items: center;     
			height: 100%;           
		}
		
		.qt-box .row {
			width: 100%;
			display: flex;
			justify-content: center; 
		}
		
		.qt-box .col-md-8 {
			text-align: center; 
		}
		 
		.qt-box .lead {
			font-family: "Amiri", serif;
		}
	 </style>


	<div class="qt-box qt-background">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<p style="text-align:center;" class="lead ">
						آشپزی فقط ترکیب مواد نیست، بلکه تبدیل احساسات به"طعم‌"هاست

					</p>
					
				</div>
			</div>
		</div>
	</div>
	<!-- End QT -->
	
	<!-- Start Menu -->
	 <style>
		.menu-box .special-menu-title1 {
			font-family:"Amiri", serif; 
			font-size: 36px !important;
		}
		.menu-box .special-menu {
			font-family:"Amiri", serif; 
			
		}
		.menu-box .why-text {
			font-family:"Amiri", serif; 
			font-size: 28px ;
		}
		.menu-box .why-text .foodname {
			font-family:"Amiri", serif; 
			font-size: 32px ;
			color:#f3f6fa
		}
	 </style>
	<div class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2 class="special-menu-title1" id="menu-section">منو ویژه یامی فود</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="special-menu text-center">
						<div class="button-group filter-button-group">
							<button data-filter=".drinks">نوشیدنی</button>
							<button data-filter=".lunch">شام</button>
							<button data-filter=".dinner">ناهار</button>
							<button class="active" data-filter="*">همه</button>

						</div>
					</div>
				</div>
			</div>
				
			<div style="text-align: right; direction: rtl;" class="row special-list " >
				{% for food in foods %}
					<a href="{% url 'foods:food_detail' food.id %}" style="border-radius: 8px; overflow: hidden; display: block;">
						<div class="col-lg-4 col-md-6 special-grid {{food.type_food}}">
							<div class="gallery-single fix" style="border-radius: 8px; overflow: hidden;">
								<img src="{{food.photo.url}}" class="img-fluid" alt="Image" style="border-radius: 15px;">
								<div class="why-text">
									<h4 class="foodname">{{food.name}}</h4>
									<p>{{food.discription}}</p>
									<h5>{{food.price}} تومان</h5>
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
				
				

				
			</div>
		</div>
	</div>
	<!-- End Menu -->
	
	<!-- Start Gallery -->
	 <style>
		.gallery-box .gallery-title {
			
			font-family:"Amiri", serif;
			font-size: 36px !important;
		}
	 </style>
	<div class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2 class="gallery-title" id="gallery-section">گالری یامی فود</h2>
					</div>
				</div>
			</div>
			<div class="tz-gallery">
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox" href"#">
							<img class="img-fluid" src="/media/foods/gallery1.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" href="#">
							<img class="img-fluid" src="/media/foods/gallery2.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" href="#">
							<img class="img-fluid" src="/media/foods/gallery3.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox" href="#">
							<img class="img-fluid" src="/media/foods/gallery4.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" href="#">
							<img class="img-fluid" src="/media/foods/gallery5.jpg" alt="Gallery Images">
						</a>
					</div> 
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" href="#">
							<img class="img-fluid" src="/media/foods/gallery7.jpg" alt="Gallery Images">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Gallery -->

	<!-- Start Contact info -->
	<style>
		.contact-imfo-box {
			padding-top: 16px;
			padding-bottom: 16px;
			margin-top: 0;
			margin-bottom: 0;
		}
		.contact-imfo-box .lead {
			font-family: 'Vazirmatn', sans-serif;


		}

		.contact-imfo-box .col-md-4 {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px; /* فاصله بین آیکون و متن */
			text-align: right;
			direction: rtl;
		}
		
		.contact-imfo-box i {
			font-size: 28px;
			background-color: white;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			color: #c69c6d;
			flex-shrink: 0;
			transition: transform 0.3s ease, box-shadow 0.3s ease;
			animation: popIn 0.6s ease;
		}
		
		/* انیمیشن اولیه موقع لود */
		@keyframes popIn {
			0% {
				transform: scale(0.8);
				opacity: 0;
			}
			100% {
				transform: scale(1);
				opacity: 1;
			}
		}
		
		/* افکت هاور */
		.contact-imfo-box i:hover {
			transform: scale(1.2) rotate(5deg);
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
		}
		
		.contact-imfo-box .overflow-hidden {
			margin: 0;
		}
		
		.contact-imfo-box h4 {
			margin: 0 0 5px;
		}
		
		.contact-imfo-box p {
			margin: 0;
			font-size: 15px;
		}
	</style>

	<div class="contact-imfo-box" id="contact-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden" style="text-align: center; direction: rtl;">
						<h4 >تماس</h4>
						<p class="lead" style="font-size: 20px; font-weight: 100;">
							5781 038 910 98+	   
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden" style="text-align: center; direction: rtl;">
						<h4>پست الکترونیک</h4>
						<p class="lead" style="font-size: 20px; font-weight: 100;">
						        	soheil.ce.99@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4 style="text-align: center; direction: rtl;">نشانی</h4>
						<a href="https://maps.app.goo.gl/64LK4VYf1nwnE2bB6" target="_blank"
						   style="font-size: 18px;font-family: 'Vazirmatn', sans-serif; font-weight: 100; text-decoration: none; color:rgb(255, 255, 255);">
							سمنان، میدان سعدی، بلوار 17 شهریور
						</a>
					</div>
				</div>											
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->
	{% endblock content%}
